%hr
%p
  = textilize( comment.content )
%br
%p.byline
  Posted by
  = comment.name
  = comment.created_at.strftime("%d.%m.%y %H:%M")
  - if current_user
    = link_to 'Edit', edit_comment_path(comment)
    = " | "
    = link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete
%br

