%hr
%div.post
  =raw textilize_without_paragraph(comment.content)
%br
%div.byline
  = t('Author')
  = comment.name
  = comment.created_at.strftime("%d.%m.%y %H:%M")
  - if current_user
    = link_to t('Edit'), edit_comment_path(comment)
    = " | "
    = link_to t('Destroy'), comment, :confirm => t('Are you sure?'), :method => :delete
