%h1= t('Partners')
%table.partners
  %tr
    %td Position
    %td Name
    %td Kind
    %td(colspan=4) Actions
  - @partners.each do |partner|
    %tr
      %td= partner.position
      %td= partner.name
      %td= t("partner.#{partner.kind}")
      %td= link_to t("partner_move_up"), up_partner_path(partner), :method => :put
      %td= link_to t("partner_move_down"), down_partner_path(partner), :method => :put
      %td= link_to t("Edit"), edit_partner_path(partner)
      %td= link_to t("Delete"), partner_path(partner), :method => :delete

%h1= t('New partner')
= render "form"
