%fieldset
  %legend= t('Account')
  %ul
    %li
      = f.label :login
      = f.text_field :login
    %li
      = f.label :password, t('Password')
      = f.password_field :password
    %li
      = f.label :password_confirmation, t("Confirm password")
      = f.password_field :password_confirmation
