%p
  = link_to t("Edit account"), edit_user_path(current_user)
  = " | "
  = link_to t("Create account"), new_user_path
  = " | "
  = link_to t("List users"), users_path
%h2= t('Users')
%ul
  - @users.each do |user|
    %li
      = user.login
      = link_to t("Delete"), user, :confirm => t("Are you sure?"), :method => :delete
