%h1= "Spam report"
Total:
= @comments.size
= form_tag update_multiple_spam_reports_path do
  %table.full_table
    %tr
      %th
        Destroy/Approve
      %th
        Name
      %th
        Content
    - @comments.each do |comment|
      %tr
        %td
          = check_box_tag "comment_ids[]", comment.id
        %td
          = comment.name
        %td
          = comment.content
  = submit_tag "Destroy", :name => "destroy_comments"
  = submit_tag "Not spam", :name => "approve_comments"
