%h1= t('Sponsors')
%div.tip= t('sponsor_drag_tip')
%ul.sponsors
  - @sponsors.each do |sponsor|
    - content_tag_for :li, sponsor do
      %span.handle [drag]
      = sponsor.name
      - if current_user
        = link_to t("Edit"), edit_sponsor_path(sponsor)
        = " | "
        = link_to t("Delete"), sponsor_path(sponsor), :method => :delete, :confirm => t("Are you sure?")
%h1= t('New sponsor')
- form_for(@sponsor) do |f|
  = f.error_messages
  %p
    = f.label :name, t('Name')
    %br
    = f.text_field :name
  %p
    = f.label :link
    %br
    = f.text_field :link, :size => 50
  %p
    = f.submit t("Create"), :class => "button"
