= simple_form_for @coach do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :function
  = f.input :contact
  = f.input :photo_url
  = f.input :about, :hint => t("textile_hint_html", :url => link_to("textile", "http://www.textism.com/tools/textile/"))
  = f.button :submit
