.person
  .photo
    - if @coach.photo_url.present?
      = image_tag(@coach.photo_url)
  .info
    %h2= @coach.full_name
    %dl
      - if @coach.function.present?
        %dt= t("function")
        %dd= @coach.function
    %dl
      - if @coach.contact.present?
        %dt= t("contact")
        %dd= @coach.contact
  .about
    = markup(@coach.about)
