%h1= "Aktualności"
- if current_user
  = link_to 'New post', new_post_path
- for post in @posts
  %hr
  %h1.title= post.title
  %p.byline
    Autor:
    = post.user.login.capitalize if post.user
    = post.created_at.strftime("%d.%m.%y %H:%M")
    - if current_user
      = link_to 'Edit', edit_post_path(post)
      = " | "
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
  %p
    = truncate( textilize( post.content ), :length => 1000 )
    %p.meta
      = link_to "Czytaj dalej", post_path( post )
      Komentarze:
      = post.comments.count
= will_paginate @posts
