%h1= t("News")
- if current_user
  = link_to t('New post'), new_post_path
- @posts.each do |post|
  %hr
  %h1.title= link_to post.title, post
  .byline
    = t('Author')+': '
    = post.user.login.capitalize if post.user
    = post.created_at.strftime("%d.%m.%y %H:%M")
    - if current_user
      = link_to t('Edit'), edit_post_path(post)
      = " | "
      = link_to t('Delete'), post, :confirm => t('Are you sure?'), :method => :delete
  .post
    = markup(post.content)
    .meta
      = link_to t("Read more"), post_path(post, :anchor => "comments")
      = t('Comments')+': '
      = post.comments.approved.count

= will_paginate @posts, :previous_label => t("pagination_previous"), :next_label => t("pagination_next")
