%h1= t('New post')
- form_for(@post) do |f|
  = f.error_messages
  %p
    = f.label :title, t("Title")
    %br
    = f.text_field :title
  %p
    = f.label :content, t('Content')
    %small= "#{t('You can use')} #{link_to "textile", "http://www.textism.com/tools/textile/", :popup => true}"
    %br
    = f.text_area :content, :cols => 50
  %p
    = f.submit t("Create"), :class => "button"
