%h1.title= @post.title
%div.byline
  = t('Author')
  = @post.user.login.capitalize if @post.user
  = @post.created_at.strftime("%d.%m.%y %H:%M")
%div.post
  =raw textilize_without_paragraph( @post.content )
%br
%div#comments
  - unless @post.comments.blank?
    %h2= t("Comments")+':'
    = render :partial => @post.comments
%h2= t('Add')+' '+t('comment')+':'
- form_for Comment.new(:post => @post) do |f|
  = f.error_messages
  = f.hidden_field :post_id
  %p
    = f.label :name, t("Name")+':'
    %br
    = f.text_field :name
  %p
    = f.label :content, t("Content")+':'
    %small=raw "#{t ('You can use')} #{link_to "textile", "http://www.textism.com/tools/textile/", :popup => true}"
    %br
    = f.text_area :content, :rows => 8
  %p
    = f.submit t("Add")
