!!!
%html
  %head
    %meta{:name => "keywords", :content => "cios, tomasz adamek, boks, gilowice, klub sportowy, trening, boxing"}
    %meta{:name => "description", :content => "KS Cios-Adamek Gilowice - klub bokserski w Gilowicach. Zapraszamy na treningi"}
    %title KS „Cios-Adamek” Gilowice
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = auto_discovery_link_tag(:rss, posts_path(:rss))
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu:regular,bold", :type => "text/css"}
  %body
    #container
      #header
        %h1= link_to "KS „Cios-Adamek” Gilowice", root_path
        #links
          - if I18n.locale.to_sym == :en
            = link_to image_tag("/assets/pl.gif"), current(:pl)
          - else
            = link_to image_tag("/assets/en.gif"), current(:en)
          #admin
            - if current_user
              = link_to "Spam", spam_reports_path
              = link_to t("Account"), user_path(current_user), :class => "account"
              = link_to "Logout #{current_user.login}", destroy_user_session_path
            - else
              = link_to "Login", new_user_session_path
      #banner
      #page
        #content
          = flash_messages
          = yield
        #sidebar
          %h2 Menu
          %ul#menu
            %li= link_to t("News"), posts_path
            %li= link_to t("People"), people_path
            %li= link_to t("Trainings"), trainings_path
            %li= link_to t('Gallery'), galleries_path
            %li= link_to t('Contact'), contact_path
          %h2= t("Sponsors")
          - if current_user
            = link_to t("Administer partners"), partners_path
          %ul
            - @sponsor_partners.each do |partner|
              %li
                = link_to_if partner.link?, partner.name, partner.link, :"data-popup" => true
          %h2= t("Assistance")
          %ul
            - @assistance_partners.each do |partner|
              %li
                = link_to_if partner.link?, partner.name, partner.link, :"data-popup" => true
          %h2= t("Informations")
          = render "layouts/facebook_messages"
          ~# %ul#tweets
        .clearb
    %footer
      %p
        &copy; 2011, KS „Cios Adamek”
        = "Design by"
        = link_to "Free CSS Templates", "http://www.freecsstemplates.org"
    = render "layouts/google_analytics"
