!!! Strict
%html{html_attrs}
  %head
    %meta{:name=>"verify-v1", :content=>"p3vhsABnuwDTuRTflrKA0+zZqC7B4naN2mU9YoCwD/c="}
    %meta{:name => "keywords", :content => "cios, tomasz adamek, boks, gilowice, klub sportowy, trening, boxing"}
    %meta{:name => "description", :content =>"KS Cios Adamek - Klub bokserski w Gilowicach. Zapraszamy na treningi" }
    %title KS „Cios Adamek”
    %link{:rel=>"shortcut icon", :href=>"/images/glove.ico"}
    = stylesheet_link_tag "cios"
    = javascript_include_tag 'jquery', 'application'
  %body
    %div#header
      %h1= "KS „Cios Adamek”"
    %div#banner
    %div#wrapper
      %div#page
        %div.bgtop
          %div.bgbtm
            %div#content
              = flash_messages
              = yield
            %div#sidebar
              %ul
                %li
                  %h2= 'Menu'
                  %ul
                    %li= link_to "Aktualności", posts_path
                    %li= link_to "Treningi", trainings_path
                    %li= link_to 'Galeria', gallery_path
                    %li= link_to 'Kontakt', contact_path
                    %br
                    -if current_user
                      %li= link_to "Logout #{current_user.login}", user_session_path, :method => :delete
                      %li= link_to "Show profile", user_path (current_user)
                    -else
                      %li= link_to "Login", new_user_session_path
                %li
                  %h2= "Sponsorzy"
                  %ul
                    - if current_user
                      = link_to "New sponsor", new_sponsor_path
                    -  @sponsors.each do |sponsor|
                      %li
                        = link_to "#{sponsor.name}", sponsor.link, :popup => true
                        - if current_user
                          = link_to "Edit", edit_sponsor_path(sponsor)
                          =" | "
                          = link_to "Delete", sponsor_path(sponsor), :method => :delete, :confirm => "Are you sure?"
                %li
                  %h2= "Współpraca"
                  =link_to "Tomasz Adamek", "http://www.tomaszadamek.com.pl", :popup => true
                  %br
                  =link_to "Gmina Gilowice", "http://www.zywiecczyzna.pl/gilowice", :popup => true
            %div.clearb
    %div#footer
      %p
        &copy; 2009, KS „Cios Adamek”
        = "Design by"
        = link_to "Free CSS Templates", "http://www.freecsstemplates.org", :popup => true
