!!! Strict
%html{html_attrs}
  %head
    %title KS „Cios Adamek”
    //%link{:rel=>"shortcut icon", :href=>"/images/ball.ico"}
    = stylesheet_link_tag "cios"
    = javascript_include_tag 'jquery', 'application'
  %body
    %div#header
      %h1= "KS „Cios Adamek”"
    %div#banner
    %div#wrapper
      %div#page
        %div.bgtop
          %div.bgbtm
            %div#content
              %h2="Zapraszamy na treningi we wtorki i czwartki"
              = flash_messages
              = yield
            %div#sidebar
              %ul
                %li
                  %h2= 'Menu'
                  %ul
                    %li= link_to "posts", posts_path
                    %li= link_to 'gallery', gallery_path
                    %br
                    -if current_user
                      %li= link_to "Logout #{current_user.login}", user_session_path, :method => :delete
                      %li= link_to "Show profile", user_path (current_user)
                    -else
                      %li= link_to "Login", new_user_session_path
                %li
                  %h2= "Sponsorzy"
                %li
                  %h2= "Współpraca"
                  =link_to "Tomasz Adamek", "http://www.tomaszadamek.com.pl", :popup => true
                  %br
                  =link_to "Gmina Gilowice", "http://www.zywiecczyzna.pl/gilowice", :popup => true
            %div.clearb
    %div#footer
      %p
        &copy; 2009, KS „Cios Adamek”
        = "Design by"
        = link_to "Free CSS Templates", "http://www.freecsstemplates.org", :popup => true
