!!!
%html
  %head
    %meta{:name => "keywords", :content => "cios, tomasz adamek, boks, gilowice, klub sportowy, trening, boxing"}
    %meta{:name => "description", :content =>"KS Cios Adamek - Klub bokserski w Gilowicach. Zapraszamy na treningi" }
    %title KS „Cios Adamek”
    %link{:rel=>"shortcut icon", :href=>"/images/favicon.ico"}
    = stylesheet_link_tag "reset", "cios", "simple_form"
    = javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application'
    = csrf_meta_tag
    = auto_discovery_link_tag(:rss, posts_path(:rss))
  %body
    %div#header
      %h1= "KS „Cios Adamek”"
      %div#links
        - if I18n.locale.to_sym == :en
          = link_to image_tag( "/images/pl.gif"), current(:pl)
        - else
          = link_to image_tag( "/images/en.gif"), current(:en)
    %div#banner
    %div#wrapper
      %div#page
        %div.bgtop
          %div.bgbtm
            %div#content
              = flash_messages
              = yield
            %div#sidebar
              %ul
                %li
                  %h2= 'Menu'
                  %ul
                    %li= link_to t("News"), posts_path
                    %li= link_to t("Boxers"), boxers_path
                    %li= link_to t("Trainings"), trainings_path
                    %li= link_to t('Gallery'), galleries_path
                    %li= link_to t('Contact'), contact_path
                    %li.last= link_to t('Bank account'), bank_account_path
                    -if current_user
                      %li= link_to "Logout #{current_user.login}", user_session_path, :method => :delete
                      %li= link_to t("Show profile"), user_path(current_user)
                    -else
                      %li= link_to "Login", login_path
                %li
                  %h2= t("Sponsors")
                  - if current_user
                    = link_to t("Administer sponsors"), sponsors_path
                  %ul
                    - @sponsors.each do |sponsor|
                      %li
                        = link_to_if sponsor.link?, "#{sponsor.name}", sponsor.link
                %li
                  %h2= t("Assistance")
                  %ul
                    %li= link_to "Tomasz Adamek", "http://www.tomaszadamek.com.pl"
                    %li= link_to "Beskidek Gilowice", "http://www.beskidek-gilowice.pl/"
                    %li= link_to "Gmina Gilowice", "http://www.zywiecczyzna.pl/gilowice"
                    %li= link_to "Gimnazjum Gilowice", "http://www.gilowicegim.hostdmk.net/"
            %div.clearb
    %div#footer
      %p
        &copy; 2010, KS „Cios Adamek”
        = "Design by"
        = link_to "Free CSS Templates", "http://www.freecsstemplates.org"
