= simple_form_for @boxer do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :birth_date, :include_blank => true, :start_year => 50.years.ago.year, :end_year => Time.now.year
  = f.input :weight
  = f.input :photo_url
  = f.input :active
  = f.input :about, :hint => t("textile_hint_html", :url => link_to("textile", "http://www.textism.com/tools/textile/"))
  = f.button :submit
