%h1= t("Boxers")
- if current_user
  %p
    = link_to t('New boxer'), new_boxer_path
%ul
  - @boxers.each do |boxer|
    %li
      = link_to boxer.full_name, boxer_path(boxer)
      - if current_user
          = link_to t('Edit'), edit_boxer_path(boxer)
          = " | "
          = link_to t("Delete"), boxer, :confirm => t("Are you sure?"), :method => :delete