%h1.title=h @boxer.full_name
%div.byline
  - if @boxer.birth_date.present?
    = t("birth_date") + ":"
    = year_month_day(@boxer.birth_date)
  - if @boxer.weight.present?
    %br
    = t("weight") + ":"
    = @boxer.weight
    = "kg"
  - if @boxer.photo_url.present?
    %div
      = image_tag @boxer.photo_url, :alt => t("photo")
%div.post
  = markup(@boxer.about)
